.c-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  margin-top: 10px;
  margin-bottom:10px;
  position: relative;
  border-radius: 10px;
  border-style: solid;
  border-width:1px;
  border-color:$color-border;
  height: 500px;
  width: 100%;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &--basic{
    &__rating{
      display:flex;
      justify-content: center;
    }
    &__image{
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height:250px;
      width :100%;
    }
    &__brand-name{
      text-align: center;
      color: $color-blue;
      margin: 0px 0px 5px 0px ;
      font-weight: 400;
      &:hover{
        color: $color_black;
        cursor: pointer;
        text-decoration: none;
      }
    }
    &__name-product{
      font-size:16px;
      text-align: center;
      color: $color-black;
      font-weight: 500;
      &:hover{
        color: $color-blue;
        cursor:pointer;
        text-decoration: none;
      }
    }
    &__price{
      text-align: center;
      color: $color-black;
      font-weight: bold;
    }
    &-icon{
      top:3%;
      left:70%;
      position: absolute;
      display: flex;
      flex-direction: column;
      &__item{
        display:none;
        border-style: solid;
        border-width: 0px;
        padding-top:5px;
        margin-top:5px;
        width:30px;
        height: 30px;
        text-align: center;
        border-radius: $base-radius-circle;
        background-color: $color-gray-light;
      }
    }
    &__button{
      font-size:15px;
      margin: 10px 20px;
      padding: 6px 10px;
      color:black;
      padding: 5px 10px;
      margin: auto;
      border-style: solid;
      text-align: center;

      border-style : solid;
      border-width:1px;
      border-radius: $base-radius;
      border-color: $color-gray;
      background-color:$color-white;
      &:hover{
        cursor:pointer;
        animation-name: animationbutton;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }
    }
  }
  &--sale{
    &__price{
      display: flex;
      flex-direction: row;
      justify-content: center;
      &-actual{
        font-size:15px;
        font-weight:400;
        text-decoration: line-through;
        color: $color-gray;
      }
      &-sale{
        color: $color-blue;
      }
    }
    &__time{
      display: flex;
      flex-direction: row;

      &-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        &-number{
          font-weight: bold;
          font-size: 20px;
          padding:0px;
          margin:0px;
        }
        &-word{
          font-weight:lighter;
          font-size:13px;
          color: grey;
        }
      }
    }
    &__sale-tag{
      position: absolute;
      background-color:$color-blue;
      padding:3px 15px;
      color:snow;
      top:4%;
      left:7%;
      border-style: solid;
      border-width:0px;
      border-radius: $base-radius;
    }
  }
  &:hover{
    border-color: $color-border-hover;
    border-width: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    .c-card--basic-icon__item{
      display: block;
      cursor: pointer;
      animation-name: animationcartrating;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
    }
  }
}



@keyframes animationbutton{
  0%{
    background-color:$color-white;
    color:black;
  }
  100%{
    background-color: $color-blue;
    border-color: $color-blue;
    color: white;
  }
}

@keyframes animationcartrating {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.8;
    transform: translateX(20px);
  }
}

.c-card-promotion{
  height:300px;
  width:100%;
  border-width: 0px;
  border-style: solid;
  border-radius: 20px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  &__image{
    background: url(https://www.apple.com/v/macbook-pro/t/images/shared/og_image.png?201902191403);
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
  }
  &__overlay{
    position: absolute;
    top:20%;
    left:15%;
    color: white;
    font-family: 'Heebo', sans-serif;

  }
  &__title{
    font-size:2em;
  }
  &__name-product{
    font-weight: bold;
    font-size: 2em;
  }
  &__starting-at{
    color: $color-gray;
  }
  &__price{
    &--pink{
      font-size: 4em;
      color: #f9db76;
    }
    &--yellow{
      font-size: 4em;
      color: #fb8aaf;
    }
  }

}
