.c-navBar{
  z-index: 10000;
  position : relative;
  background-color: $color-white;
  box-shadow: 0 3px 4px #333;
  width:100%;
  &__nonFloating{
    height: 200px;
  }
  &__top{
    display:flex;
    flex-direction:column;
    height: auto;
  }
  &__top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transform: scale(1,1);
    @include mobile{
        height:0px;
        flex-direction: column;
    }
    @include tablet{
        height:0px;
        flex-direction: column;
    }

    &__icon-toggle{
      display:none;
      &__label{
        margin:auto;
        display:none;
        @include mobile{
            display:block;
        }
        @include tablet{
            display:block;
        }
      }
    }
    &__welcome{
      align-items: center;
      @include mobile{
          opacity: 0;
          flex-direction: column;

      }
      @include tablet{
          opacity: 0;
          flex-direction: column;

      }
      display: flex;
      flex-direction: row;
    }
    &__authenticate{

      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-grow:1;
      &-group{
        text-align: center;
        margin-right:10%;
        display: flex;
        flex-direction: row;
        width:250px;
        align-items: space-around;
        justify-content: space-around;
        &__link{
          color: rgb(74,74,77);
          font-weight: 600;
          &:hover{
            color: rgb(51,90,246);
            text-decoration: none;
          }
        }
        @include mobile{
            margin:auto;
            flex-direction: column;
            opacity: 0;
            display:none;
        }
        @include tablet{
            margin:auto;
            flex-direction: column;
            opacity:0;
            display:none;
        }
      }

    }
  }
  &__middle-bar{
    width: 80%;
    display:flex;
    flex-direction: row;
    position: relative;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;

    @include mobile{
        flex-direction: column;
        width:100%;
    }
    @include desktop{
      justify-content: space-around;
    }
    @include large-desktop{
      justify-content: space-around;
    }
    &__right{
      width: 90%;
      display: flex;
      align-items: center;
      flex-direction: row;
      @include mobile{
        justify-content: space-between;
      }
      @include tablet{
        justify-content: flex-end;
      }
      @include desktop{
        justify-content: space-around;
      }
      @include large-desktop{
        justify-content: space-around;
      }

    }
    &__logo{
      object-fit: contain;
      width: 12vw;
      height: 100%;
      @include mobile{
          width: 150px;

      }
    }
    &__search-bar{
    }
    &__cart{
    }
    &__button{
      @include mobile{
          display: flex;
          margin-left: 10px;
          border-style: solid;
          border-width:2px;
          border-radius: 7px;
          padding: 5px;
      }
      @include tablet{
          display: flex;
          margin-left: 10px;
      }
      border-style: solid;
      border-width: 0px;
      display: none;
      flex-direction: column;

      &__stick{
        background-color: $color-blue;
        height: 2px;
        width :16px;
        margin: 2px 0px;
        @include mobile{
          background-color: $color-black;
        }
      }
    }
  }
  &__bottom-bar{
    position:relative;
    width:70%;
    margin-top:0px;
    &__menu{
      display:flex;
      flex-direction: row;
      justify-content: center;
      @include mobile{
          height: 0px;
          flex-direction: column;
      }
      @include tablet{
          height: 0px;
          flex-direction: column;
      }
      &__item{
        margin : 0px 4px 10px 4px;
        color: rgb(74,74,77);
        font-weight: 600;
        &:hover{
          color: rgb(51,90,246);
          text-decoration: none;
        }
        @include mobile{

            opacity: 0;
            display:none;
        }
        @include tablet{

            opacity: 0;
            display:none;
        }
      }
    }
  }
}



.arrow-down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

@keyframes menuitem {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(-20px);
  }
}
