.id-input{
  position:relative;
  border-style:solid;
  border-width:1px;
  border-radius: 6px;
  border-color:lightgrey;
  background-color: white;
  padding:18px 20px;
  width:460px;
  margin:20px 0px;
}
.id-input:before{
  position:absolute;
  top:20%;
  content:"ID account";
  font-size:20px;
  color:grey;
}
.id-input:focus{
  outline: none;
}
.id-input:focus:before{
  animation: sizeFont 0.1s ease-in forwards;
}
.password-input{
  position:relative;
  border-style:solid;
  border-width:1px;
  border-radius: 6px;
  border-color:lightgrey;
  padding:18px 20px;
  margin:20px 0px;
  width:460px;
}
.password-input:before{
  position:absolute;
  top:20%;
  content:"password";
  font-size:20px;
  color:grey;
}
.password-input:focus{
  outline: none;
}
.password-input:focus:before{
  animation: sizeFont 0.1s ease-in forwards;
}
.btn-modify{
  padding:18px 20px!important;
  width:460px;
}


@keyframes sizeFont{
  0%{
    top:20%;
    font-size:20px;
  }
  100%{
    top:10%;
    font-size:11px;
  }
}
