.input-box{
  width:450px;
  border-style: solid;
  border-color: aliceblue;
  border-width:3px;
  border-radius: 10px;
}

#subscribe-button{
	color:rgb(0, 0, 255);
}

#subscribe-button:hover{
	color: gray;
}