.new-product{
  margin: 50px auto;

}

.card-new-product{
  border-width: 0px;
  border-radius: 20px;
}

.card-modify{
  height: 300px;
  object-fit: cover;
  border-width: 0px;
  border-radius: 20px;
}

.card-img-left{
  background: url(http://thieunien.vn/uploads/2018/09/1536827026-apple-iphone-xs-combo-gold-09122018bigjpglarge.jpg);
  background-size: cover;
  background-position: 80px;
}

.card-img-right{
  background: url(https://www.apple.com/v/macbook-pro/t/images/shared/og_image.png?201902191403);
  background-size: cover;
  background-position: 60px;
}
