.filter{
  width:200px;
}

.search-products-shop{
  border-style:solid;
  border-width:1px;
  border-color:lightgrey;
  border-radius: 25px;
  padding: 10px 10px 10px 8px;
}

.input-search-shop{
  margin: 0;
  padding:0;
  border-width:0px;
  width:90%;
}

.product-categories{
  border-style: solid;
  border-width: 1px;
  border-color:lightgrey;
  padding: 10px 10px 10px 8px;
  border-radius: 8px;

}

.input-categories-shop{
  border-width:0px;
  width:90%;
}

.filter-by-price{
  border-width:1px;
  border-top-style: solid;
}

.filter-button{
  border-style: solid;
  border-width:0px;
  border-radius: 25px;
  padding: 3px 10px 3px 10px;
  background-color: grey;
  color:white;
  width:50%;
}
/* .search-products input:clicked{
  border-color: black;
} */
