body{
  text-align: left;
}

.filter{
  width:200px;
}

.filter-button:hover{
  background-color: blue;
}

.app{
  width : 150%;
  margin-left:-15px ;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-products-shop{
  border-style:solid;
  border-width:1px;
  border-color:lightgrey;
  border-radius: 25px;
  padding: 10px 10px 10px 8px;
  width: 150%;
  height: 50px;
  margin-left: -5px;
  margin-top: 15px;
}

.input-search-shop{
  margin:0;
  padding:0;
  border-width:0px;
  width:90%;
}

.input-categories-shop{
  border-style:solid;
  border-width:1px;
  border-color:lightgrey;
  border-radius: 25px;
  padding: 10px 10px 10px 8px;
  width: 150%;
  height: 50px;
}

.filter-button {
    margin-top: 20px;
    border-color: #FFF;
    border-width: 0;
    border-radius: 20px;
    background-color: gray;
    padding: 10px 25px 10px;
    color: white;
}
/* .search-products input:clicked{
  border-color: black;
} */
