.best-seller{
  margin-top:80px;
}
/*
.best-seller-box{
  width:100%;
  overflow: hidden;
}

.slide-best-seller{
	overflow: hidden;
  width:100%;
} */

#container{
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
}

h3{
	text-align: left;
}
