.best-seller{
  margin-top:80px;
}
.card-product{
  border-radius: 10px;
  width:400px;
  border-style: solid;
  border-width:1px;
  border-color:rgb(240,240,240);
  cursor: pointer;
}

.best-seller-box{
  width:100%;
  overflow: hidden;
}

.slide-best-seller{
	overflow: hidden;
  width:900px;
}

#container{
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 120%;
	height: 0;
	padding-bottom: 50%;
}

h3{
	text-align: left;
}





