.search-box{
  padding: 0;
  border-radius: 75px;
  width:600px;
  height:50px;
  border-style: solid;
  border-width:2px;
  border-color:blue;
  z-index: 200;
}
.logo-brand-img{
  object-fit: contain;
  width: 40px;
  height: 40px;
}

.button-search{
  padding:10px;
  border-radius:75px;
  margin:0;
  background:  rgb(251,251,251);
}

.input-search{
  width:100%;
  overflow:hidden;
  border-radius:75px;
}

.search-box input{
}




.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 400px;
  border-style: solid;
  border-radius: 8px;
  border-width: 0px;
  box-shadow: 8px 3px 8px 8px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  animation: push 0.5s ease-out forwards;
}

.cart-box{
  position: relative;
}

.cart-box:hover {
  cursor:pointer;
}
.cart-box:hover .number-products{

    color: #FFF;
    background-color: #000;
}

.cart-box:hover .dropdown-content{
	display: block;
	position: absolute;
	right: -50px;
	top: 200%;
}

@keyframes push{
	0% {opacity: 0.4}
  100%{transform: translateY(-30px); opacity: 1;}
}

.number-products{
  border-style: solid;
  border-width: 0;
  border-color: rgb(51,60,246);
  border-radius: 50%;
  width:25px;
  height: 25px;
  position:absolute;
  top:-10%;
  left:27%;
  background-color: rgb(51,60,246);
}

.cart {
	position: fixed;
	right: 170px;
	top: 65px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.cart:hover .dropdown-content{
	display: block;
	position: absolute;
	right: -50px;
	top: 60px;

}
